<a href="https://colab.research.google.com/github/casandra12/cyp_2021/blob/main/08_dic_CyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=20
while(a>10):
  print(f"a es igual", a)
  a=a-1

a es igual 20
a es igual 19
a es igual 18
a es igual 17
a es igual 16
a es igual 15
a es igual 14
a es igual 13
a es igual 12
a es igual 11

In [8]:
suma_gas = 0
gasto = float(input( "Introduce un gasto: "))
while( gasto != -1 ):
  suma_gas = suma_gas + gasto #suma_gas += gasto
  gasto = float(input(" Introduce un gasto: "))
print(f"La suma total es { suma_gas } pesos")

Introduce un gasto: 7
 Introduce un gasto: 8
 Introduce un gasto: 4
 Introduce un gasto: 5
 Introduce un gasto: -1
La suma total es 24.0 pesos

In [ ]:
cub = 0
num = float(input("Ingrese el numero"))

while num != -1:
  cub = num ** 3
  print(f"el cubo del numero {num} es: {cub}")
  num = float(input("Ingrese el numero"))
  print("fin del programa")

In [14]:
# Problema 3.1

sumpar = 0
sumimp = 0
cuepar = 0
I = 1
while I <= 5:
  num = int(input(" Introduce un numero entero: "))
  if num != 0:
    if ((-1) ** num) > 0: # num % 2
      sumpar = sumpar + num
      cuepar = cuepar + 1
    else:
       sumimp = sumimp + num 
  I = I + 1
propar= sumpar / cuepar
print(f" El promedio de los pares es: {propar} ") 
print(f" La suma de los impares es: {sumimp}")

 Introduce un numero entero: 1
 Introduce un numero entero: 2
 Introduce un numero entero: 3
 Introduce un numero entero: 4
 Introduce un numero entero: 5
 El promedio de los pares es: 3.0
 La suma de los impares es: 9

In [ ]:
band= True
sumser=0
I=2
while I <= 1800:
  sumser=sumser+I
  print(f"{I},", end="")
  if band==True:
    band=False
    I=I+3
  else:
    band=True
    I=I+2
print("\nla suma de la serie es", sumser)

In [23]:
#ejemplos de arreglos
#en python no existe el tipo de dato esepecial arreglo existe el dato nativo vista que fucniona de manera semejante
#delcarar un arreglo de 70 elemtos de tipo float para alamacenar sueldos
sueldos =[0.0 for x in range (7)] 
print(sueldos)
sueldos[0]=200.5
print(sueldos)
"""
en lenguaje c un arreglo se declara de la forma
float sueldos[7]={0.0};
en java seria float[]= new int[7]={0.0};
amnos, cambiar el valor dle primer elemento

SyntaxError: ignored

In [26]:
s=[0.0 for x in range(7)]
for j in range (7):
  s[j]=float(input("introduce un sueldo)"))
print(s)
for j in range (7):
  print(s[j])

introduce un sueldo)1
introduce un sueldo)2
introduce un sueldo)3
introduce un sueldo)4
introduce un sueldo)5
introduce un sueldo)6
introduce un sueldo)7
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]
1.0
2.0
3.0
4.0
5.0
6.0
7.0