<a href="https://colab.research.google.com/github/casandra12/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#ejercicio 3.1 
sueldo="sueldo: $"
salario1=float(input("ingrese su sueldo1:"))
salario2=float(input("ingrese su sueldo2:"))
salario3=float(input("ingrese su sueldo3:"))
salario4=float(input("ingrese su sueldo4:"))
salario5=float(input("ingrese su sueldo5:"))
salario6=float(input("ingrese su sueldo6:"))
salario7=float(input("ingrese su sueldo7:"))
salario8=float(input("ingrese su sueldo8:"))
salario9=float(input("ingrese su sueldo9:"))
salario10=float(input("ingrese su sueldo10:"))
nomina=salario1+salario2+salario3+salario4+salario5+salario6+salario7+salario8+salario9+salario10
print("nomina total es de:", nomina)

ingrese su sueldo1:10
ingrese su sueldo2:20
ingrese su sueldo3:30
ingrese su sueldo4:40
ingrese su sueldo5:50
ingrese su sueldo6:60
ingrese su sueldo7:70
ingrese su sueldo8:80
ingrese su sueldo9:90
ingrese su sueldo10:100
nomina total es de: 550.0

In [16]:
#ejercicio 3.1 
salario=[]
cont=0
for i in range (10):
  salario.append(float(input(f"salario:$")))
for i in salario:
  cont+=i
print(f"nomina total: ", cont)

salario:$10
salario:$30
salario:$50
salario:$79
salario:$56
salario:$45
salario:$23
salario:$76
salario:$98
salario:$98
nomina total:  565.0

In [21]:
#ejercicio 3.4
gastototal=0
gastoi=1
while gastoi >0:
  aux=float(input("total:"))
  gastototal+=(aux if aux >0 else 0.0)
  gastoi=aux
print(f" el total es de:", gastototal)

total:2528
total:3500
total:1600
total:1850
total:150
total:-1
 el total es de: 9628.0